.App {

}

.btn:focus {
    outline: none;
}


.btn {
    margin-left: 5px;
    margin-bottom: 5px;

}

.board {
    margin-left: 100px;
}

.botones {
    margin-left: 25px;
}

span.generacion {
    margin-left: 100px;
}

p {
    text-align: left;

}

.texto {
    margin-bottom: 40px;
}

img {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

span.gh {
    margin-left: 100px;
}
